*{
    margin: 0px;
    padding: 0px;

}
#slide1 {
    width: 100%;
    overflow: hidden;
}
#slide1>div {
    width: auto;
    display: flex;
    transition: 2s;
}

#slide1>div>img {
    width: 100vw;
}
#slideBtn>button{
    margin: 10px ;
    
    background-color: antiquewhite;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: none;
}
#slideBtn>button:hover{
    background-color: grey;
    cursor: pointer;
}
#slideBtn{
    margin: auto;
    width: 25vw;
}